{% extends "base.html" %}
{% block title %}Synchrotron Report for "{{component}}"{% endblock %}

{% block bottom_postscript %}
<script type="text/javascript">
$(window).load(function(){
$(document).ready(function () {

    (function ($) {

        $('#filter').keyup(function () {

            var rex = new RegExp($(this).val(), 'i');
            $('.searchable tr').hide();
            $('.searchable tr').filter(function () {
                return rex.test($(this).text());
            }).show();

        })

    }(jQuery));

});
});
</script>
{% endblock %}

{% block content %}
    <h1>Sync Report for "{{component}}"</h1>
    <p>This page shows the synchronization status with Debian, and which packages need manual intervention to be available in Tanglu as well.</p>

    {% if import_freeze %}
      <div class="alert alert-info alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong>Info</strong>
          <p>We are currently in import freeze! These pages will still be updated to see which packages have issues in being synced,
          but packages which can be synchronized with Debian will not be pulled in automatically.</p>
          <p>Please get a sync-freeze exception to get these packages merged with Debian.</p>
      </div>
      <br/>
    {% endif %}

    <div class="input-group"> <span class="input-group-addon">Filter</span>
        <input id="filter" type="text" class="form-control" placeholder="Type here...">
    </div>
    <br/>
    <table class="table">
      <thead>
        <tr>
          <th>Package Name</th>
          <th>Tanglu Version</th>
          <th>Debian Version</th>
          <th>Issue Details</th>
        </tr>
      </thead>
      <tbody class="searchable">
        {% for item in sync_failures %}
        {% if item.fail_type == "unbuildable" %}
          <tr style="background-color: #ffd4bc;">
        {% elif item.fail_type == "merge-required" %}
          <tr style="background-color: #f2f2f2;">
        {% else %}
          <tr>
        {% endif %}
           <td>{{item.name}}</td>
           <td>{{item.dest_version}}</td>
           <td>{{item.src_version}}</td>
           <td>{{item.details}}</td>
         </tr>
       {% endfor %}
      </tbody>
    </table>
{% endblock %}

{% block page_details %}
<p><small>Last updated on: {{time}}</small></p>
{% endblock %}
