{% extends "base.html" %}
{% block title %}Package Watch{% endblock %}

{% block head %}
    {{ super() }}
    <style type="text/css">
:link.versionlink, :visited.versionlink
{
   color: black;
   text-decoration: none;
}

img
{
    padding-right: 4px;
    border: none;
}

table
{
    border-collapse: collapse;
}

th
{
    border: 1px solid #d2d2d2;
    padding: 6px;
}

tr
{
    border-top: 1px dotted #d2d2d2;
}
tr.hidden
{
    visibility: collapse;
}
tr.spacing
{
    border-top: none;
}
tr.newboth
{
    background-color: #ffa17e; /* orangered, #ff4500 */
}
tr.newupstream
{
    background-color: #ffb97f;
}
tr.syncnewupstream
{
    background-color: #ffd280; /* orange, #ffa500 */
}
tr.newdebian
{
    background-color: #ffff80; /* yellow, #ffff00 */
}
tr.newunstable
{
    background-color: #ddfd7f;
}
tr.uptodate
{
    background-color: #bcfc7e; /* lawngreen, #7cfc00 */
}
tr.untracked
{
    background-color: #e0e0e0;
}

td
{
    padding: 3px;
}
</style>
{% endblock %}

{% block content %}
  <h1>Package set: {{section_label}}</h1>
  <br/>
  {{content}}
{% endblock %}

{% block page_details %}
<p><small>{{extra_footer}}</small></p>
{% endblock %}
